@font-face {
  font-family: "BeyondWonderland";
  src: local("BeyondWonderland"), url("BeyondWonderland.ttf") format("truetype");
}

@font-face {
  font-family: "MedievalSharp-Book";
  src: local("MedievalSharp-Book"), url("MedievalSharp-Book.ttf") format("truetype");
}

@font-face {
  font-family: "AppleGaramond-Light";
  src: local("AppleGaramond-Light"), url("AppleGaramond-Light.ttf") format("truetype");
}

html,
#root {
  height: 100%;
  margin: 0;
  font-family: "BeyondWonderland";
  color: white;
  --PhoneInputCountryFlag-aspectRatio: 1.333;
}

body {
  height: 100%;
  margin: 0;
  background: url("images/bg.png") no-repeat center center fixed;
  background-size: cover;
}

:root {
  --PhoneInputCountryFlag-aspectRatio: 1.333;
}

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 100px;
}

.main-div {
  width: 100% !important;
  height: 100%;
}

.fade-in {
  opacity: 1;
  animation: 2s fadeIn;
}

.fade-out {
  opacity: 0;
  animation: 1s fadeOut;
}

.intro-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.solidarity-button {
  background: transparent;
  background-color: #e4baa9;
  color: #282c34;
}

.solidarity-button:hover {
  background-color: #e6c8bc;
}

.solidarity-button:disabled {
  background-color: #c1bebc;
  color: #282c3463;
}

.solidarity-button-small {
  width: 200px;
  height: 50px;
}

.solidarity-button-medium {
  font-size: 20px;
  width: 450px;
  height: 70px;
}

.solidarity-button-large {
  font-size: 30px;
  width: 600px;
  height: 300px;
}

.solidarity-header {
  position: absolute;
  top: 0;
  left: 0;
}

.solidarity-brand {
  width: 160px;
  cursor: pointer;
}

.solidarity-input {
  font-size: 20px;
  width: 450px;
  height: 55px;
}

.solidarity-phone-input {
  font-size: 20px;
  width: 335px;
  height: 55px;
}

.solidarity-phone-select {
  font-size: 20px;
  width: 110px;
  height: 55px;
  margin-right: 5px;
}

.solidarity-link {
  color: #47c0f0;
  cursor: pointer;
}

.solidarity-link:hover {
  color: #87d0ec;
}

.solidarity-link-bad {
  color: #f0474f;
  cursor: pointer;
}

.solidarity-link-bad:hover {
  color: #e9777c;
}

.solidarity-undertext {
  font-size: 13px;
}

.solidarity-speech-bubble {
  background-color: white;
  color: #333;
  border-radius: 225px 15px 225px 15px / 15px 225px 15px 225px;
  padding: 1rem;
  position: relative;
  font-size: 20px;
  margin-right: 100px;
}

.solidarity-speech-bubble::before {
  content: "";
  position: absolute;
  background-color: white;
  left: calc(50% - 50px / 2);
  clip-path: polygon(12.5% 0, 87.5% 0, 50% 100%);
}

.PhoneInputInput {
  border-radius: 225px 15px 225px 15px / 15px 225px 15px 225px;
  font-size: 20px;
  width: 350px;
  height: 55px;
  padding-left: 0.5rem;
  padding-top: 0;
  padding-bottom: 0;
}

/*-------------------------------------------------------------------------*/
/*----------------------------  GUST OF WIND -------------------------------*/
/*-------------------------------------------------------------------------*/
.gustofwind-login {
  width: fit-content !important ;
}

.gustofwind-header {
  position: fixed;
  background: linear-gradient(to top, #e4eaeb00, #000000d5);
  padding-bottom: 150px;
}

.gustofwind-footer {
  position: absolute;
  bottom: 0;
  right: 0;
}

.header-button {
  font-size: 30px;
  border: 1px solid #161311;
  border-width: 0px 2px 2px 2px;
  border-radius: 0px 0px 20px 20px;
  background-color: #282c34;
  box-shadow: inset rgba(0, 0, 0, 0.35) 0px 5px 15px, rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #dbdbdb;
  font-family: "Calibri";
  font-weight: bold;
  width: 70px;
  margin-right: 3px;
  margin-left: 3px;
}

.header-button:hover {
  background-color: rgba(40, 44, 52, 0.8);
  cursor: pointer;
}

.header-button .selected {
  background-color: #50db7f;
}

.base-ui {
  width: 80%;
  height: 700px;
  border: 2px solid #161311;
  background-color: #282c34;
  padding: 0;
  box-shadow: rgba(255, 255, 255, 0.35) 0px 0px 55px;
}

.tavern-bg {
  background: url("images/tavern.png") no-repeat left center fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  box-shadow: inset rgba(0, 0, 0, 0.35) 25px 0px 25px 25px;
  margin-left: 0;
  margin-right: 0;
  margin: 0;
}

.adventures-bg {
  background: linear-gradient(to right, #05050500 0%, #050505 40%, #050505);
  height: 100%;
}

.adventures {
  font-size: 35px;
  margin-right: 140px;
  font-family: "MedievalSharp-Book";
}

.adventure-container {
  margin-right: 20px;
  transition: color 0.3s;
  position: relative;
}

.adventure-image {
  transition: box-shadow 0.3s;
}

.adventure-image:hover {
  box-shadow: 0 0 8px 2px #50db7f;
  cursor: pointer;
}

.adventure-name {
  font-size: 30px;
}

.adventure-description {
  font-size: 15px;
  font-family: "Calibri";
  text-align: justify;
}

.adventure-hover-text {
  position: absolute;
  bottom: 5%;
  left: 70%;
  transform: translate(-50%, -50%);
  color: #dbdbdb;
  font-size: 20px;
  text-align: center;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.adventure-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(0, 0, 0, 0.6);
  z-index: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.adventure-popup {
  background: #282c34;
  width: 500px;
  height: 300px;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.35) 0px 0px 50px, inset rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-size: cover;
  border: 2px solid #161311;
}

.adventure-difficulty-button {
  width: 100%;
  height: 80px;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
  font-size: 30px;
  opacity: 0.9;

}

.adventure-difficulty-button:hover {
  opacity: 1;
}

.questlog-bg {
  background: url("images/book_edited.png") no-repeat center center fixed;
  background-size: 70%;
  height: 100%;
  width: 100%;
  box-shadow: inset rgba(0, 0, 0, 0.35) 25px 0px 25px 25px;
  margin-left: 0;
  margin-right: 0;
  margin: 0;
}

.gear {
  width: 100%;
  height: 100%;
  border: 2px solid #161311;
  padding: 0;
  box-shadow: inset rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.gear-name {
  font-size: 38px;
}

.stats {
  width: 100%;
  height: 696px;
  padding: 15px;
  font-size: 18px;
  overflow-y: scroll;
  scrollbar-color: #3d4554 #282c34;
  scrollbar-width: thin;
  box-shadow: inset rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-family: "Calibri";
  color: #dbdbdb;
}

.slot {
  width: 65px;
  height: 65px;
  background: #8c8281;
  background: radial-gradient(circle, rgba(140, 130, 129, 1) 0%, rgba(82, 73, 71, 1) 100%);
  border: 2px solid #161311;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 0;
  padding-left: 6px;
  padding-top: 6px;
}

.slot-icon-empty {
  opacity: 25%;
  width: 48px;
  height: 48px;
  filter: grayscale(1);
}

.slot-icon {
  width: 38px;
  height: 38px;
  margin-bottom: 5px;
}

.slot-icon-large {
  width: 48px;
  height: 48px;
}

.item-tooltip-show {
  left: -15px;
  top: 30%;
  position: fixed;
  width: 300px;
  background-color: #282c34;
  border-radius: 20px;
  padding: 10px;
  padding-left: 30px;
  font-size: 30px;
  font-family: "BeyondWonderland";
  border: 2px solid #161311;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px, inset rgba(0, 0, 0, 0.35) 0px 5px 15px;
  animation: slideIn 0.2s;
}

.item-tooltip-hide {
  left: -15px;
  top: 30%;
  position: fixed;
  width: 300px;
  background-color: #282c34;
  border-radius: 20px;
  padding: 10px;
  padding-left: 30px;
  font-size: 30px;
  font-family: "BeyondWonderland";
  border: 2px solid #161311;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px, inset rgba(0, 0, 0, 0.35) 0px 5px 15px;
  animation: slideOut 0.2s;
  display: none;
}

.item-tooltip-stats {
  font-family: "Calibri";
  line-height: 1;
}

.impact {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: white;
}

.engraved {
  text-shadow: 5px 5px 5px rgba(22, 22, 22, 0.7);
}

.inventory {
  width: 100%;
  height: 696px;
  border: 2px solid #161311;
  scrollbar-color: #3d4554 #282c34;
  scrollbar-width: thin;
  box-shadow: inset rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-family: "MedievalSharp-Book";
  color: #dbdbdb;
  font-size: 25px;
}

.bag-button {
  width: 100%;
  height: 100%;
  border: 2px solid #161311;
  border-width: 2px 1px 4px 1px;
  background-color: rgba(82, 73, 71, 1);
  padding: 0;
  box-shadow: inset rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #dbdbdb;
  font-size: 17px;
  font-family: "Calibri";
}

.bag-button:hover {
  background-color: rgb(122, 110, 107);
}

.bag-button-pressed {
  width: 100%;
  height: 100%;
  border: 2px solid #161311;
  border-width: 2px 1px 0px 1px;
  background-color: rgb(131, 123, 123);
  padding: 0;
  color: #dbdbdb;
  font-size: 20px;
}

.ui-header {
  padding: 15px;
  font-size: 30px;
  border: 2px solid #161311;
  border-width: 4px 4px 0px 4px;
  border-radius: 20px 20px 0px 0px;
  background-color: #282c34;
  box-shadow: inset rgba(0, 0, 0, 0.35) 0px 5px 15px, rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #dbdbdb;
  font-family: "Calibri";
  font-weight: bold;
}

.bag {
  background-color: rgb(131, 123, 123);
}

.slot-bag {
  width: 50px;
  height: 50px;
  background: radial-gradient(circle, rgba(140, 130, 129, 1) 0%, rgba(82, 73, 71, 1) 100%);
  border: 1px solid #161311;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 0;
  padding-left: 6px;
  padding-top: 6px;
  margin: 2px;
}

/* .slot-bag:hover {
  opacity: 80%;
  cursor: grab;
} */

.slot-bag-disabled {
  width: 50px;
  height: 50px;
  background-color: rgba(82, 73, 71, 1);
  /* background: radial-gradient(circle,rgb(75, 67, 65) 0%, rgb(43, 38, 37) 100%); */
  border: 1px solid #161311;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px, inset rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 0;
  padding-left: 6px;
  padding-top: 6px;
  margin: 2px;
  filter: grayscale(1);
}

.combat-log {
  padding: 15px;
  height: 500px;
  overflow-y: scroll;
  scrollbar-color: #3d4554 #282c34;
  scrollbar-width: thin;
  font-size: 25px;
  border: 2px solid #161311;
  border-width: 4px 4px 4px 4px;
  border-radius: 0px 0px 0px 0px;
  background-color: #282c34;
  box-shadow: inset rgba(0, 0, 0, 0.35) 0px 5px 15px, rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #dbdbdb;
  font-family: "Calibri";
  font-weight: bold;
  display: flex;
  flex-direction: column-reverse;
}

.character-portrait {
  padding: 15px;
  height: 500px;
  font-size: 25px;
  border: 2px solid #161311;
  border-width: 4px 4px 4px 4px;
  border-radius: 20px 20px 0px 0px;
  background-color: #282c34;
  box-shadow: inset rgba(0, 0, 0, 0.35) 0px 5px 15px, rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #dbdbdb;
  font-family: "Calibri";
  font-weight: bold;
}

.hp-bar {
  width: 90%;
  padding: 0;
  background-color: #474e5c;
  border-radius: 20px;
  border: 2px solid #161311;
  box-shadow: inset rgba(0, 0, 0, 0.35) 0px 5px 15px, rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.loot {
  padding: 15px;
  height: 500px;
  font-size: 25px;
  border: 2px solid #161311;
  border-width: 4px 4px 4px 4px;
  border-radius: 20px 20px 0px 0px;
  background-color: #282c34;
  box-shadow: inset rgba(0, 0, 0, 0.35) 0px 5px 15px, rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #dbdbdb;
  font-family: "Calibri";
  font-weight: bold;
}

.gust-bar {
  /* font-family: "Impact"; */
  font-weight: 500;
  font-size: 23px;
  margin-left: 100px;
  width: 100%;
}

.gust-bar-wrapper {
  height: 30px;
  background-color: #1b1b1b;
  border: 2px solid #3c3c3c;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}

.gust-bar-fill {
  height: 100%;
  background: linear-gradient(-45deg, #30e0e6, #1d769f, #30e0e6, #1d769f);
  background-size: 300% 300%;
  animation: windFlow 16s linear infinite;
  transition: width 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  box-shadow: inset rgba(0, 0, 0, 0.35) 0px 5px 15px, rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.gust-bar-value {
  position: absolute;
  left: 115%;
  top: 40%;
  font-size: 22px;
  z-index: 2;
  transform: translate(-50%, -50%);
  color: #fff;
  pointer-events: none;
  text-shadow: 1px 1px 2px #000;
}

/*-------------------------------------------------------------------------*/
/*----------------------------  Animations -------------------------------*/
/*-------------------------------------------------------------------------*/

@keyframes windFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  0% {
    left: -300px;
  }
  100% {
    left: -10px;
  }
}
@keyframes slideOut {
  0% {
    left: -10px;
    display: block;
  }
  100% {
    left: -300px;
    display: none;
  }
}
